<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Onliner_Mobile">
        <test name="TV filtration check">
            <classes>
                <class name="mobile.onliner.test.TvFiltrationTest"/>
            </classes>
        </test>
</suite>